body {
  font-family: "Century Gothic";
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #1b4166;
}

.container {
  text-align: center;
  padding: 20px;
  font-family: "Century Gothic";
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #ffdf04;
  padding: 10px 0;
}

.navbar a {
  color: #1b4166;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #c99724;
  border-radius: 5px;
}

.home, .about, .services, .review, .contact {
  margin-top: 20px;
}

.cta-button {
  background-color: #1b4166;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}

.cta-button:hover {
  background-color: #1d2e40;
}

.first-paragraph::first-letter {
  font-size: 200%; 
  font-weight: bold;
  color: #ffdf04;
}

.logo span {
    text-transform: uppercase !important;
    font-weight: bold !important;
    color: #1b4166;
}

#location {
    text-align: center;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin: 40px auto;
    max-width: 800px;
}

.map-container {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

div.logo span {
    text-transform: uppercase !important;
}

.company-name {
    font-size: 1.8rem;
    font-weight: bold;
    color: #222;
}

.company-name {
    font-size: 1.8rem !important;
}

.social-icons {
    display: flex;
    flex-direction: column; /* Makes the links appear one below the other */
    align-items: center; /* Centers them */
    gap: 10px; /* Adds space between the links */
}

.social-icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.social-icons a i {
    margin-right: 8px;
    font-size: 24px;
}

.about-us-text {
    font-size: 14px;
 }

.services-section .services-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.services-section .service-card {
  flex: 0 1 calc(50% - 30px);
  box-sizing: border-box;
}

